html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    width:100%;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 80px;
    background: darkgrey;

    background: #0D0D0B;
    color: #E6E0D6;

    font-family: 'Inter', sans-serif;

    border-bottom: 1px solid #222222;

    position: fixed;
    top: 0;
    left: 0;

}

#nombre{
    padding-left: 40px;
    font-weight: 500;
}

#navMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    padding-right: 40px;
    color: #a5a39f;
}

a{
    text-decoration: none;
    color: #a5a39f;
}


footer{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: #0D0D0B;

    font-family: 'Inter', sans-serif;
    color: #a5a39f;

    border-top: 1px solid #222222;
}

footer span{
    padding-left: 40px;
}

.footer_links{
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.social-icon {
    width: 25px;
    height: 25px;
    color: rgb(94, 94, 94);
    fill: rgb(94, 94, 94);
    transition: all 0.3s ease;
}

.social-icon:hover {
    color: #E8703A;
    fill: #E8703A;
}

section{
    display: flex;
    flex-direction: column;
    width: 100%;

    box-sizing: border-box;
    padding: 70px;
    padding-bottom: 70px;
}

.section1{
    background: #0D0D0B;
}

h1{
    font-size: 14px;
    color: #E8703A;
    font-family: 'Inter', sans-serif;
    margin-bottom: 40px;
    margin-top: 80px;
}

