a{
    font-family: 'Inter', sans-serif;
}

.icono_link{
    width: 15px;
    height: auto;
}

.frase{
    font-family: 'Inter', sans-serif;
    font-size: 60px;
}

span{
    color: lightgrey;
    line-height: 1.05;
    font-weight: 200;
    letter-spacing: -0.03 rem;
}
.frase1{
    color: #E6E0D6;
}
.frase2{
    color: #8A8478;
}

#inicio_navs{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.boton_link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    font-weight: 600;

    color: #0D0D0B;

    background: #E8703A;

    padding: 12px 24px 12px 24px;
}

#contacto_link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    font-weight: 600;

    color: #80807e;


    padding: 12px 24px 12px 24px;
}

.about_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 80px;

    font-family: 'Inter', sans-serif;
}

.about_container img{
    width: 400px;
    border-radius: 4px;
}

h2{
    font-size: 50px;
    font-weight: 300;
    color: #E6E0D6;

    margin-top: 0;
}

h3{
    color: #80807e;
    font-size: 16px;
    margin-bottom: 10px;
}

p{
    color: #80807e;
    font-size: 18px;
}

#contacto_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contacto_izq{
    width: 48%;
}

.contacto_form{
    width: 48%;
}

.email_puesto{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

textarea{
    resize: none;
    width: 100%;
}

#primeraLineaForm{
    display: flex;
    justify-content: space-between;
}

#primeraLineaForm div{
    height: 80px;
    width: 45%;
}

#primeraLineaForm input{
    height: 40px;
}


input, textarea{
    width: 100%;
    color: #80807e;
    background: #272723;
    border: 1px solid #36322a;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Inter', sans-serif;
}

textarea{
    padding-top: 10px;
    height: 200px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form button{
    width: 160px;
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background: #E8703A;

    border: 1px solid transparent;
    border-radius: 4px;

    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
}