#nombre{
    display: none;
}
header{
    flex-direction: column;
    height: auto;
    padding: 15px 0;
}

#navMenu{
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 0;
    gap: 10px;
    font-size: 12px;
}

section{
    padding: 20px;
    padding-top: 30px;
}

.frase{
    font-size: 22px;
    margin-bottom: 5px;
}

.about_container img{
    width: 100%;
}

.about_container{
    flex-direction: column;
    gap: 30px;
}


html,
body {
    overflow-x: hidden;
}

.boton_link{
    font-size: 12px;
    gap: 4px;
    font-weight: 600;

    padding: 6px 8px 6px 8px;
}

#contacto_link{
    font-size: 12px;
    gap: 4px;
    font-weight: 600;

    padding: 4px 8px 4px 8px;
}

#inicio_navs{
    margin-top: 50px;
}

.about_container{
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

h2{
        font-size: 28px;
    }

p{
    font-size: 16px;
}

#mifoto{
    width: 90%;
}

.exp_container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.sidebar{
    width: 80%;
}
.expcard{
    width: 100%;
    padding: 16px;

    h6{
        font-size: 14px;
    }

    #expcard_empresa{
        font-size: 12px;
        margin-top: 4px;
    }

    .ubi_per{
        font-size: 10px;
        color: #8A8478;
    }

    p{
        font-size: 12px;
        margin-bottom: 8px;
    }

    #expcard_logros{
        font-size: 12px;
        margin-bottom: 12px;
        color: #8A8478;
    }

    li{
        font-size: 12px;
    }

    .expcard_usado_container{
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 10px;
    }

    .expcard_usado{
        font-size: 8px;
        padding: 2px 5px 2px 5px;
        background: #232320;
        color: #8A8478;
        border-radius: 2px;
    }
}

.cabecera_proyectos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.menu_proyectos{
    gap: 14px;
}

.opcion_proyectos{
    font-size: 12px;
    padding: 4px 8px 4px 8px;
}

.proyectosContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

    margin-top: 50px;
}

#contacto_container{
    flex-direction: column;
    width: 100%;
}

.contacto_izq, .contacto_form{
    width: 100%;
}

.email_puesto{
    margin-top: 20px;
    gap: 15px;
    margin-bottom: 50px;
}

#primeraLineaForm{
    flex-direction: column;
}

#primeraLineaForm div{
    height: 80px;
    width: 80%;
}

#primeraLineaForm input{
    height: 30px;
}

textarea{
    padding-top: 10px;
    width: 95%;
    height: 200px;
}

#btnForm{
    margin-bottom: 50px;
}